<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyTravelAdvisor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        document.getElementById("hotels").style.display = "none";
    }
  };
  xhttp.open("GET", "/search?savedHotels=true&clear=true", true);
  xhttp.send();
}
</script>

<div class="jumbotron text-center">
    <h1>MyTravelAdvisor </h1>
    #if($name != "anonymous")
      <h5>Hello, $name! </h5>
    #end
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <p><a href=\"/login?logout\">(logout)</a></p>
            <p> <a href="/search">Back To Home Page</a> </p> <br>
            <button type="button" onclick="loadDoc()">Clear Saved Hotels</button>
            <h3> Saved Hotels: </h3>
            <div id="hotels">
                #foreach( $hotel in $hotels)
                <p> <a href="/search?selectedHotel=true&hotelName=$hotel">$hotel</a> </p> <br>
                #end
            </div>
        </div>
    </div>
</div>
</body>
</html>
